@model IEnumerable<JoDice.Models.Job.JobViewModel>




@foreach (var item in Model)
{
    @section Header{
        <div class="header_btm header_job_single">
            <div class="header_job_single_inner container">
                <div class="poster_company">
                    <img alt="brand logo" src="assets/images/demologo.png">
                </div>
                <div class="poster_details">
                    <h2>@item.JobName <span class="varified"><i class="fas fa-check"></i>Verified</span></h2>
                    <h5>About the Employer</h5>
                    <ul>
                        <li>
                            @foreach (var country in item.Countries)
                            {
                                <a href="#">
                                    <i class="fas fa-landmark"></i>
                                    @country.CountryName
                                </a>
                            }
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-map-marker-alt"></i>
                                @item.Adress
                            </a>
                        </li>
                        <li>
                            @{
                                System.DateTime DateNow = DateTime.Now;
                                System.DateTime AddedDate = item.AddedDate;

                                System.TimeSpan diff2 = AddedDate.Subtract(DateNow) * (-1);
                            }

                            @if (item.AddedDate == DateTime.Now.Date)
                            {
                                <a href="#">
                                    <i class="far fa-clock"></i>
                                    Bu gün
                                </a>
                            }
                            else
                            {
                                <a href="#">
                                    <i class="far fa-clock"></i>
                                    @diff2.Days gün əvvəl
                                </a>
                            }
                        </li>
                    </ul>
                </div>
                <div class="poster_action">
                    <a class="addtofav" title="add to favourite" href="#"><i class="far fa-heart"></i></a>
                    <a class="btn btn-third" href="#">İndi müraciət et</a>

                </div>
            </div>

        </div>
    }

    <!-- Main
    ================================================== -->
    <main>
        <div class="single_job">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row ">
                            <div class="col-md-12 single_job_main">
                                <h2>@item.JobTitle</h2>
                                <p>@item.JobAbout</p>
                            </div>
                            <div class="section-divider"></div>
                            <div class="col-md-12 single_job_main">
                                <h2>Location</h2>
                                <iframe class="full-width-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.916507434128!2d76.78322631470263!3d30.748846681631466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fed76ab9f14c1%3A0xd6362b158b8994aa!2sEiffel%20Tower%20Replica!5e0!3m2!1sen!2sin!4v1581932177674!5m2!1sen!2sin" height="450" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="single-job-sidebar">
                            <div class="sjs_box">
                                <h3>İş xülasəsi</h3>
                                <ul class="single-job-sidebar-features">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <h6>Location</h6>
                                        <p>
                                            @foreach (var country in item.Countries)
                                            { @country.CountryName} , @item.Adress
                                        </p>
                                    </li>
                                    <li>
                                        <i class="fas fa-briefcase"></i>
                                        <h6>İş Tipi</h6>
                                        <p>@item.JobType</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-money-bill-alt"></i>
                                        <h6>Maaş</h6>
                                        <p>@item.Salary</p>
                                    </li>
                                    <li>
                                        <i class="far fa-clock"></i>
                                        <h6>Göndərmə tarixi</h6>
                                        <p>İki həftə ərzində</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="sjs_box">
                                <h3>Tags</h3>
                                <ul class="tags">
                                    <li>PHP</li>
                                    <li>MySQL </li>
                                    <li>API Development</li>
                                    <li>PHP</li>
                                    <li>MySQL </li>
                                    <li>API Development</li>
                                </ul>
                            </div>

                        </div>
                        <div class=" sjs_box_action">
                            <a class="btn btn-third" href="#">Contact Employer</a>
                            <p>- or -</p>
                            <a class="btn btn-primary" href="#">Apply Job</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}




