@model IEnumerable<JoDice.Models.MembershipPlan.MembershipPlanViewModel>

<div class="planduration">
    <div class="custom-control custom-switch text-center">
        <label class="before-custom-control-label" for="customSwitch1"> <span>Billed Monthly</span></label>
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" for="customSwitch1"> <span>Billed Yearly</span> </label>
        <div class="small-alert alert-success"> Save 21%  </div>
    </div>
</div>
<div class="row">
   @foreach (var item in Model)
   {
       
    <div class="col-md-4">
        <div class="plan_box">
            <h3>@item.PlanCategoryName Plan</h3>
            <p>@item.Description</p>
            <div class="plan_price pl-monthly">
                <h4><strong>@item.PlanPrice ₼</strong>/ monthly</h4>
            </div>
            <div class="plan_price pl-yearly hide">
                <h4><strong>@item.PlanPrice</strong>/ yearly</h4>
            </div>
            <h5>Features of @item.PlanCategoryName Plan</h5>
            <ul>
                @foreach (var specs in item.PlanSpecs)
                {
                    <li><i class="fas fa-check"></i>@specs.Value</li>
                }
            </ul>
            <a class="btn btn-third" href="@item.EndPoint">@item.ActionName</a>
        </div>
    </div>
   }
</div>